/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


 /**  like-icon heart  click**/
 .like-icon.is-liked .main-body {
  fill: var(--color-active);
  transition: fill 0.3s;
  transition-delay: 0.05s;
  opacity: 1;
}

.like-icon.is-liked .core {
  fill: var(--color-active);
  transition: fill 0.3s;
  opacity: 1;
}

.like-icon.is-liked .countour {
  fill: var(--color-active);
  transition: fill 0.3s;
  transition-delay: 0.06;
}

.like-icon.is-liked .heart {
  animation-name: heart-bump;
  animation-duration: 0.3s;
  animation-delay: 0.1s;
  animation-timing-function : ease-in;
  transform-origin: 50% 50%;
}

.like-icon.is-liked .sparks {
  animation-name: sparks-bump;
  animation-duration: 0.3s;
  animation-delay: 0.3s;
  animation-timing-function : ease-in;
  transform-origin: 50% 50%;
}

@keyframes heart-bump {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.25); 
  }
}

@keyframes sparks-bump {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
