/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-top: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: var(--body-pattern);
  background-attachment: fixed;
}

.page-section {
  inline-size: var(--page-section);
  margin: auto;
  font-variation-settings: "wgt" var(--main-wght, 400);
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: var(--page-section);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0
    clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);
  background-color: var(--bg-color, #fff);
  border: 2px solid #000;
  margin-bottom: 101px;
  font-family: var(--accent-font);
  font-variation-settings: "wght" var(--main-wght, 400);
  text-transform: uppercase;
  font-style: normal;
  line-height: var(--header-line-height);
  color: black;

  @media (width <= 376px) {
    margin-bottom: 101px;
  }
}

.main-header {
  font-size: var(--header-font-size);
  line-height: 100%;
  margin-bottom: 20px;
}

.sub-header {
  font-size: var(--header-accent-font-size);
  line-height: 100%;
}

.cards__block {
  display: flex;
  flex-direction: column;
  gap: 49px;

  @media (width <= 376px) {
    gap: 50px;
  }
}

.card {
  width: var(--page-section);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  margin: auto;
  font-size: var(--main-font-size, 18px);
  font-variation-settings: "wght" var(--main-wght);
  line-height: var(--main-line-height, 21px);
  font-family: var(--main-font);
}

.card__header {
  display: flex;
  padding: 5px 0;
  width: 100%;
  justify-content: flex-start;
  color: var(--main-text-color, #000);
}

h2.card__header-subtitle {
  margin-left: 10px;
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  text-transform: none;
  font-variation-settings: "wght" var(--accent-wght);
}

/* Обёртка для изображения чтоб задать водяной знак*/
.card__image-wrapper {
  display: inline-block;
  position: relative;
}

/* Лейбл HTML */
.card__label {
  position: absolute;
  top: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  font-family: var(--accent-font), sans-serif;
  font-variation-settings: "wght" var(--accent-wght);
  font-size: var(--wt-font-size);
  line-height: 1;
  color: var(--accent-color);
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 0;

  text-shadow: 2px 0 0 var(--text-stroke-color),
    -2px 0 0 var(--text-stroke-color), 0 2px 0 var(--text-stroke-color),
    0 -2px 0 var(--text-stroke-color);
}

@supports (
  (-webkit-text-stroke: 1px var(--text-stroke-color)) or
    (text-stroke: 1px var(--text-stroke-color))
) {
  .card__label {
    -webkit-text-stroke: 1px var(--text-stroke-color);
    text-stroke: 1px var(--text-stroke-color);
    text-shadow: none;
  }
}

/* all buttons */

.button {
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  color: var(--main-text-color);
  border: 2px solid var(--contur-color, #000);
  min-width: 130px;
  position: relative;
  justify-content: center;
  gap: 12px;
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  line-height: var(--button-line-height);
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  line-height: var(--button-line-height);
  width: 100%;
  gap: 5px;
}

.card__icon-button {
  display: flex;
  background-color: transparent;
  border: 2px solid transparent;
  justify-content: center;
  align-items: center;
  padding: 0;
  block-size: 39px;
  transition: border 0.3s ease;
}

.card__like-button {
  @media (width <= 376px) {
    min-width: 128px;
    padding: 9px 17px;
  }
}

.button:hover::before {
  transform: scaleX(1);
}

.button_type_save {
  margin: 2px auto 105px;
  padding: 15px 20px;

  @media (width >= 900px) {
    flex-direction: row;
    padding: 14px 20px;
  }
}

.button_type_save:hover {
  cursor: pointer;
}

.button__text {
  display: flex;
  line-height: var(--button-line-height);
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hover-bg-button-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button__text::before {
  content: "";
  position: relative;
  mix-blend-mode: difference;
  transition: color 0.1s;
  z-index: 2;
}

.button:focus,
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button-close {
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  border: 1px solid transparent;
  max-width: 293px;
  max-height: 38px;
}

.card__image {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 /1;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: filter 0.5s ease;
}

.card__content {
  color: var(--main-text-color, #000);
  font-family: var(--inter-font);
  gap: 25px;
  padding: 25px;
  border-top: 2px solid transparent;

  @media (width <= 376px) {
    padding: 25px 24.5px 25px 25px;
    line-height: 20.5px;
  }
}

p.card__text {
  margin-bottom: 27px;
}

/*filters*/

.image-sepia {
  filter: sepia(70%) brightness(110%) contrast(90%);
}

.image-neon {
  filter: saturate(180%) hue-rotate(15deg);
}

.image-dark-orange {
  filter: contrast(150%) brightness(190%) grayscale(10%) sepia(50%)
    hue-rotate(10deg);
}

.image-blue-pink {
  filter: hue-rotate(-45deg) brightness(105%) saturate(130%);
}

.image-dark-brown {
  filter: sepia(90%) hue-rotate(15deg) contrast(110%);
}

.image-orange-green {
  filter: contrast(110%) saturate(100%) hue-rotate(90deg);
}

.image-blue-green {
  filter: contrast(1.3) saturate(1.2) hue-rotate(200deg);
}

/* Modal Window*/

.dialog {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  grid-template-columns: min-content 1fr;
  width: 100%;
  inline-size: 353px;
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--main-text-color);
  font-size: var(--button-font-size);
  font-family: var(--accent-font);
  gap: 30px 20px;
  padding: 30px;
  align-items: center;

  @media (width <= 376px) {
    inline-size: 341px;
    padding: 30px;
  }
}

.dialog[open] {
  display: grid;
}

.icon-save-as {
  width: 21px;
  height: 21px;
  position: relative;
  z-index: 1;
  fill: var(--bg-color);
  mix-blend-mode: difference;
  flex-shrink: 0;

  @media (width <= 376px) {
    width: 28px;
    height: 28px;
  }
}

.icon-save-as::before {
  content: "";
  position: relative;
  transition: color 0.1s;
  z-index: 2;
}

.dialog-button-ok {
  position: relative;
  overflow: hidden;
  align-items: center;
  border: 2px solid #000;
  background-color: var(--bg-color);
  text-align: center;
  padding: 9px 17px;
  width: 100%;
  height: 38px;
  display: flex;
  justify-content: center;
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  text-transform: uppercase;
}

form.dialog-button {
  grid-column: 1 / -1;
}

.dialog .icon-save-as {
  width: 39px;
  height: 39px;
}

.dialog-text {
  line-height: 1.5;
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/*effects for heart*/

.like-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 36px;
}

.countour {
  fill: var(--countour-color);
}

.core {
  opacity: 0%;
  transition: opacity 0.3s;
  transition-delay: 0.03s;
}

.main-body {
  opacity: 0%;
  transition: opacity 0.3s;
}

.sparks {
  opacity: 0%;
  fill: var(--sparks-color);
}

/** heart hover **/
.heart:hover .core {
  opacity: 100%;
  transition: opacity 0.3s;
}
.heart:hover .main-body {
  opacity: 100%;
  transition: opacity 0.3s;
  transition-delay: 0.05s;
}

/** heart active**/
.heart:active .main-body {
  fill: var(--color-active);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}
.heart:active .core {
  fill: var(--color-active);
  transition: fill 0.3s;
}
