/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  padding-top: 100px;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-image: var(--body-pattern);
  background-attachment: fixed;
}

.page-section {
  inline-size: var(--page-section);
  margin: auto;
}

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: var(--page-section);
  padding: clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem) 0
    clamp(7.5rem, 7.3239rem + 0.7512vw, 8rem);

  background-color: var(--bg-color, #fff);
  border: 2px solid #000;
  margin-bottom: 107px;
  font-family: var(--accent-font);
  line-height: var(--header-line-height);
  color: black;

  @media (width >= 375px) {
    margin-bottom: 101px;
  }
}

h1 {
  font-family: var(--accent-font);
  font-size: var(--header-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 20px;
}

h2 {
  font-family: var(--accent-font);
  font-size: var(--header-accent-font-size);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
}

.cards__block {
  display: flex;
  flex-direction: column;
  gap: 49px;

  @media (width <= 375px) {
    gap: 50px;
  }
}

.card {
  width: var(--page-section);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000;
  background-color: #fff;
  margin: auto;
  font-size: var(--main-font-size, 18px);
  font-weight: var(--font-weight);
  line-height: var(--main-line-height, 21px);
  font-family: var(--main-font);
}

.card__header {
  display: flex;
  padding: 5px 0;
  width: 100%;
  justify-content: flex-start;
  color: var(--main-text-color, #000);

  /*@media (width >= 375px) {
    height: clamp(3.25rem, 3.7121rem + -1.9718vw, 1.9375rem);
  }*/
}

h2.card__header-subtitle {
  /*align-self: flex-start;*/
  margin-left: 10px;
  /*width: clamp(21.9375rem, 15.0933rem + 29.2019vw, 41.375rem);*/
  font-family: var(--main-font, sans-serif);
  font-size: var(--main-font-size);
  text-transform: none;
  font-weight: 700;
}

/* Обёртка для изображения чтоб задать водяной знак*/
.card__image-wrapper {
  display: inline-block;
  position: relative;
}

/* Лейбл HTML */
.card__label {
  position: absolute;
  top: clamp(1.4375rem, 1.3935rem + 0.1878vw, 1.5625rem);
  right: clamp(0.6875rem, 0.3794rem + 1.3146vw, 1.5625rem);
  font-family: var(--accent-font), sans-serif;
  font-weight: 700;
  font-size: var(--wt-font-size);
  line-height: 1;
  color: var(--accent-color);
  z-index: 2;
  opacity: 0.5;
  letter-spacing: 0;

  text-shadow: 2px 0 0 var(--label-stroke), -2px 0 0 var(--label-stroke),
    0 2px 0 var(--label-stroke), 0 -2px 0 var(--label-stroke);
}

@supports (
  (-webkit-text-stroke: 1px var(--text-stroke-color)) or
    (text-stroke: 1px var(--text-stroke-color))
) {
  .card__label {
    -webkit-text-stroke: 0.01px var(--text-stroke-color);
    text-stroke: 0.01px var(--text-stroke-color);
    text-shadow: none;
  }
}

/* all buttons */

.card__icon-button {
  background-color: transparent;
  border: 2px solid transparent;
  display: flex;
  justify-content: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid #000;
}

.card__like-button {
  min-width: 130px;
  position: relative;
  padding: 9px 17px;
  justify-content: center;
  gap: 12px;
  border: 2px solid var(--contur-color, #000);
  color: var(--main-text-color);
  font-family: var(--accent-font);
  background-color: var(--bg-color);
  cursor: pointer;

  @media (width >= 375px) {
    min-width: 123px;
    padding: 9px 17px;
  }
}

.card__like-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hover-bg-button-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.icon-save-as::before {
  content: "";
  position: relative;
  fill: #fff;
  mix-blend-mode: difference;
  transition: color 0.1s;
  z-index: 2;
}

.card__like-button:hover::before {
  transform: scaleX(1);
}

.button {
  transition: box-shadow 0.3s ease;
}

.button_type_save {
  position: relative;
  overflow: hidden;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(
    306px,
    306px + (335 - 306) * ((100vw - 375px) / (1440 - 375)),
    335px
  );
  height: clamp(
    51px,
    80px - (80 - 51) * ((100vw - 375px) / (1440 - 375)),
    80px
  );
  margin: 54px auto 105px;
  background-color: var(--bg-color);
  border: 2px solid var(--border-card-color, #000);
  font-family: var(--accent-font);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  padding: 10px;

  @media (width >= 1440px) {
    flex-direction: row;
  }
}

.button_type_save:hover {
  cursor: pointer;
}

.button__text {
  display: flex;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  font-family: var(--accent-font);
  justify-content: center;
  align-items: center;
  color: var(--bg-color);
  position: relative;
  mix-blend-mode: difference;
  z-index: 2;
}

.button_type_save::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--hover-bg-button-color);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  z-index: 1;
}

.button_type_save:hover::before {
  transform: scaleX(1);
}

.button__text::before {
  content: "";
  position: relative;
  mix-blend-mode: difference;
  transition: color 0.1s;
  z-index: 2;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 0 var(--accent-color);
}

.button-close {
  background-color: transparent;
  text-transform: uppercase;
  outline: none;
  border: 1px solid transparent;
  max-width: 293px;
  max-height: 38px;
}

.card__image {
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 1 /1;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
  transition: filter 0.5s ease;
}

.card__content {
  color: var(--main-text-color, #000);
  font-family: var(--inter-font);
  gap: 25px;
  padding: 25px;
  border-top: 2px solid transparent;

  @media (width >= 375px) {
    padding: 25px 29.5px 25px 25px;
    line-height: 21px;
  }
}

p.card__text {
  margin-bottom: 27px;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  width: 100%;
}

.icon-save-as {
  position: relative;
  z-index: 1;
  background-color: var(--bg-color);
  width: 21px;
  height: 21px;
  flex-grow: 0;

  @media (width <= 375px) {
    width: 28px;
    height: 28px;
  }
}



/*filters*/

.image-nostalgia {
  filter: sepia(70%) brightness(110%) contrast(90%);
}

.image-energetic {
  filter: saturate(180%) hue-rotate(15deg);
}

.image-dramatic {
  filter: contrast(150%) brightness(190%) grayscale(10%) sepia(50%)
    hue-rotate(10deg);
}

.image-futuristic {
  filter: hue-rotate(-45deg) brightness(105%) saturate(130%);
}

.image-warm {
  filter: sepia(90%) hue-rotate(15deg) contrast(110%);
}

.image-cool {
  filter: contrast(110%) saturate(100%) hue-rotate(90deg);
}

.image-endless {
  filter: contrast(1.3) saturate(1.2) hue-rotate(200deg);
}

/* Modal Window*/

.dialog {
  /*min-height: 195px;*/
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
  grid-template-columns: min-content 1fr;
  width: 100%;
  inline-size: clamp(21.3125rem, 21.0484rem + 1.1268vw, 22.0625rem);
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  color: var(--main-text-color);
  font-size: var(--button-font-size);
  font-family: var(--accent-font);
  gap: 30px 20px;
  padding: 30px;
  align-items: center;

  @media (width <= 375px) {
    padding: 30px;
  }
}

.dialog[open] {
  display: grid;
}

.svg-save-as {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
  mix-blend-mode: difference;
}

.dialog-button-OK {
  align-items: center;
  border: 2px solid #000;
  background-color: transparent;
  text-align: center;
  padding: 9px 17px;
  width: 100%;
  grid-column: 1 / -1;
}



.dialog-text {
  line-height: 1.5;

  @media (width <=375px) {
    padding: 32px 42px 0 101px;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

/*effects for heart*/

.like-icon {
  background-color: var(--bg-color);
  width: 40px;
  height: 40px;
}

.countour {
  fill: var(--countour-color);
}

.core {
  opacity: 0%;
  transition: opacity 0.3s;
  transition-delay: 0.03s;
}

.main-body {
  opacity: 0%;
  transition: opacity 0.3s;
}

.sparks {
  opacity: 0%;
  fill: var(--sparks-color);
}

/** heart hover **/
.heart:hover .core {
  opacity: 100%;
  transition: opacity 0.3s;
}
.heart:hover .main-body {
  opacity: 100%;
  transition: opacity 0.3s;
  transition-delay: 0.05s;
}

/** heart active**/
.heart:active .main-body {
  fill: var(--color-active);
  transition: fill 0.3s;
  transition-delay: 0.05s;
}
.heart:active .core {
  fill: var(--color-active);
  transition: fill 0.3s;
}
