/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/


body {
  background-color: #fff;
  margin: 0;
  /*background-attachment: fixed;*/

}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  position: relative;
  background-position: center;
  background-size: cover;
  width: 100%;
  background-color: var(--bg-color);
  
}

.image {
  /*background-image: url(../images/background.png);*/
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100%;
  background-position: top;
  /*aspect-ratio: 1440 / 960;*/
  /*height: clamp(667px, calc(667px + (960 - 667) * ((100vw - 375px) / (1440 - 375))), 960px);
  background-size: clamp(357px, 100%, 1440px) clamp(667px, calc(667px + (960 - 667) * ((100vw - 375px) / (1440 - 375))), 960px);*/
}



.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  width: clamp(371px, 50vw + 100px, 696px);
  height: clamp(323px, 3.85vw + 308.56px, 364px);
  background-color: var(--bg-color, #fff);
  border: 2px solid #000;
  margin: 102px auto 104px;
  font-family: var(--press-font);
  line-height: var(--header-line-height);
  color: black;
}

h1 {
font-family: var(--press-font);
font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
margin-bottom: 20px;
}

h2 {
font-family: var(--press-font);
font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
font-style: normal;
font-weight: 400;
line-height: normal;
text-transform: uppercase;
}

.cards__block {
  display: flex;
  flex-direction: column;
  gap: 54px;

  @media (width >= 375px) {
    gap: 50px;
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: clamp(371px, 50vw + 100px, 696px);
  border: 2px solid #000;
  background-color: #fff;
  margin:  auto;
  font-size: var(--main-font-size, 18px);
  font-weight: var(--font-weight);
  line-height: var(--main-line-height, 21px);
  font-family: var(--inter-font);
}

.card__header {
  display: flex;
  padding: 0;
  min-height: 31px;
  width: 100%;
  justify-content: flex-start;
  color: var(--main-text-color, #000);
  
}

.card__header-subtitle {
  align-self: flex-start;
  margin-left: 10px;
  align-items: center;
  min-height: 100%;
  font-family: var(--inter-font, sans-serif);
}

/* Обёртка для изображения чтоб задать водяной знак*/
.card__image-container {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
}

/* Лейбл HTML */
.card__label {
  position: absolute;
  top: 60px;
  right: 25px;
  font-family: var(--press-font), sans-serif;
  font-weight: 700;
  font-size: var(--wt-font-size);
  line-height: 1;
  color: var(--accent-color);
  mix-blend-mode: var(--label-blend-mode);
  z-index: 2;
  opacity: 0.5;
  line-height: 1;
  letter-spacing: 0;
  
  text-shadow: 
    2px 0 0 var(--label-stroke),
    -2px 0 0 var(--label-stroke),
    0 2px 0 var(--label-stroke),
    0 -2px 0 var(--label-stroke);

    @media (width >= 1440px) {
      .card__watermark {
        top: 25px;
        right: 25px;
        font-size: 14px;
      }
    }

    @media (width >= 375px) {
      .card__watermark {
        top: 23px;
        right: 11px;
        font-size: 14px;
      }
    }
}

@supports ((-webkit-text-stroke: 1px var(--text-stroke-color)) or (text-stroke: 1px var(--text-stroke-color))){
  .card__label {
    -webkit-text-stroke: 0.01px var(--text-stroke-color);
    text-stroke: 0.01px var(--text-stroke-color);
    text-shadow: none;
  }
}

.card__icon-button{
  background-color: var(--bg-color);
  outline: none;
  display: flex;
}

.card__image {
  display: block;
  inline-size: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  /*position: relative;*/
  aspect-ratio: 1 /1;

}

.card__content {
  /*height: 224px;*/
  color: var(--main-text-color, #000);
  font-family: var(--inter-font);
  padding: 25px 28.5px 0 28.5px;
  /*margin-bottom: 25px;*/
}

p + p {
  margin-top: 27px;
  margin-bottom: 25px;
}

.card-footer {
  position: relative;
  width: 100%;
}

.card-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  margin-bottom: 25px;
  width: 100%;
}

.card__like-button {
  width: 118px;
  padding: 9px 17px;
  justify-content: center;
  /*align-items: right;*/
  gap: 12px;
  border: 2px solid var(--contur-color, #000);
  color: var(--main-text-color);
  font-family: var(--press-font);
  background-color: var(--bg-color);
  margin-right: 25px;
}


.button_type_save {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: clamp(306px, 306px + (335 - 306) * ((100vw - 375px) / (1440 - 375)), 335px);
  height: clamp(51px, 80px - (80 - 51) * ((100vw - 375px) / (1440 - 375)), 80px);
  margin: 54px auto 105px;
  background-color: var(--bg-color);
  border: 2px solid var(--border-card-color, #000);
  font-family: var(--press-font);
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  padding: 10px;

  @media (width >= 1440px) {
    flex-direction: row;
  }
}

.icon-save-as {
  background-color: var(--bg-color);
  width: 21px;
  height: 21px;

  @media (width >= 375px) {
    width: 28px;
    height: 28px;
  } 
}

.like-icon {
  background-color: var(--bg-color);
  width: 27px;
  height: 24px;
 
}

.button__text {
  display: flex;
  font-size: var(--button-font-size);
  line-height: var(--button-line-height);
  font-family: var(--press-font);
  justify-content: center;
  align-items: center;
  color: var(--main-text-color);
}

.page-footer {
  margin-bottom: 25px;
}


.card__header-subtitle,
.card__text {
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}

.card__label {
  text-shadow: 
    2px 0 0 var(--label-stroke),
    -2px 0 0 var(--label-stroke),
    0 2px 0 var(--label-stroke),
    0 -2px 0 var(--label-stroke);
}

/*FILTERS*/

.image-nostalgia {
  filter: sepia(70%) brightness(110%) contrast(90%);
}

.image-energetic {
  filter: saturate(180%) hue-rotate(15deg);
}

.image-dramatic {
  filter: 
    contrast(150%) 
    brightness(190%) 
    grayscale(10%) 
    sepia(50%) 
    hue-rotate(10deg);
}

.image-futuristic {
  filter: hue-rotate(-45deg) brightness(105%) saturate(130%);
}

.image-warm {
  filter: 
    sepia(90%) hue-rotate(15deg) contrast(110%);
}

.image-cool {
  filter: 
  contrast(110%) saturate(100%) hue-rotate(90deg)
}

.image-endless {
  filter: 
    contrast(1.3) saturate(1.2) hue-rotate(200deg)

}


/* Modal Window*/

.dialog {
  width: 357px;
  min-height: 195px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 12px;
  background-color: var(--background-color);
  color: var(--text-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  position: fixed;

  @media (width >= 375px) {
    width: 341px;
    min-height: 195px;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
}
